.custom-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-col-left {
  flex: 1 1 100%;
  max-width: 40%;
  margin-bottom: 20px;
}

.custom-col-right {
  flex: 1 1 100%;
  max-width: 55%;
}

.services-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.title-large {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.text-content {
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  position: relative;
  color: #666;
}

.icon {
  margin-right: 8px;
  font-size: 24px;
  padding-left: 0 !important;
  color: var(--color-orange);
}

.services-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.services-list a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid var(--color-orange);
  transition: background-color 0.3s;
}

.services-list a.active,
.services-list a:hover {
  background-color: var(--color-orange);
  font-weight: bold;
  color: white;
}

.service-content {
  margin-top: 10px;
  color: #666;
  margin-left: 10px;
}

.service-content.active {
  display: block;
}

@media (max-width: 768px) {
  .custom-col-left, .custom-col-right {
    max-width: 100%;
  }
}
