<div>
  <app-banner-content title="Service detail"
                      breadcrumbText="Home / Service Details"
                      bannerHeight="300px">
  </app-banner-content>
</div>
<div class="custom-container">
  <div class="custom-row">

    <div class="custom-col-left" data-aos="fade-up" data-aos-delay="100">
      <div class="services-list">
        <a href="#" class="active">Web Design</a>
        <a href="#">Software Development</a>
        <a href="#">Product Management</a>
        <a href="#">Graphic Design</a>
        <a href="#">Marketing</a>
      </div>

      <div class="title-small">Enim qui eos rerum in delectus</div>
      <div class="text-content">
        Nam voluptatem quasi numquam quas fugiat ex temporibus quo est. Quia aut quam quod facere ut non occaecati ut aut. Nesciunt mollitia illum tempore corrupti sed eum reiciendis. Maxime modi rerum.
      </div>
    </div>

    <div class="custom-col-right" data-aos="fade-up" data-aos-delay="200">
      <img src="assets/img/electric-substation.jpg" alt="" class="services-img">

      <div class="title-large">Temporibus et in vero dicta aut eius lidero plastis trand lined voluptas dolorem ut voluptas</div>
      <div class="text-content">
        Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et doloremque consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus vero. Qui omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
      </div>
      <ul>
        <li><span>Aut eum totam accusantium voluptatem.</span></li>
        <li><span>Assumenda et porro nisi nihil nesciunt voluptatibus.</span></li>
        <li><span>Ullamco laboris nisi ut aliquip ex ea</span></li>
      </ul>
      <div class="text-content">
        Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste veniam repellat odit. Aut pariatur itaque nesciunt fuga.
      </div>
      <div class="text-content">
        Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus eveniet velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur nostrum. Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto ut pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
      </div>
    </div>

  </div>
</div>

