<div class="custom-container">
  <div class="custom-row">
    <div class="custom-col-right" data-aos="fade-up" data-aos-delay="200">
      <div class="title-large">{{service?.serviceName}}</div>
      <div>
        <div class="custom-col-left" data-aos="fade-up" data-aos-delay="100">
          @for (serviceImageInfo of service?.serviceImageInfos; track serviceImageInfo?.id) {
            @if (serviceImageInfo?.align === 'left') {
              <div class="first-block">
                <div class="text-content">{{serviceImageInfo?.description}}</div>
                <div class="first-block-img">
                  <img [src]="serviceImageInfo?.image" alt="{{serviceImageInfo?.name}}" class="services-img">
                </div>
              </div>
            } @else {
              <div class="second-block">
                <img [src]="serviceImageInfo?.image" alt="{{serviceImageInfo?.name}}" class="services-img">
                <div class="key-points">
                  <ul>
                    @for (serviceKeyPoint of serviceImageInfo?.keyPoints; track serviceKeyPoint?.keyPoints) {
                      <li>
                        <i class="ti ti-circle-check icon"></i>
                        <span>{{serviceKeyPoint?.keyPoints}}</span>
                      </li>
                    }
                  </ul>
                </div>
              </div>
            }
          }
        </div>
      </div>
      <div class="services-list">
        <h3>Service includes:</h3>
        @for (serviceInclude of service?.serviceIncludes; track serviceInclude?.serviceIncludeName) {
        <div class="service-list-content" (click)="selectService($event, serviceInclude?.serviceIncludeName)">
          <div [class.active]="selectedService === serviceInclude.serviceIncludeName" class="active-continer">
            {{serviceInclude?.serviceIncludeName}}
          </div>
          @if (selectedService === serviceInclude.serviceIncludeName) {
          <div class="service-content">
            {{serviceInclude?.serviceIncludeDescription}}
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
