.custom-container {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.custom-col-left {
  margin-bottom: 10px;
}

.services-img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title-large {
  font-size: 24px;
  color: #333;
  margin-bottom: 12px;
  font-weight: 700;
}

.text-content {
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}

.key-points {
  margin-top: 20px;
  margin-bottom: 40px;
}

.key-points h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.key-points ul li {
  display: flex;
  color: #666;
  margin-bottom: 8px;
}

.icon {
  margin-right: 8px;
  font-size: 24px;
  padding-left: 0 !important;
  color: var(--color-orange);
}
.services-list h3 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.service-list-content {
  margin-top: 0px;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid var(--color-orange);
  transition: background-color 0.3s;
}
.active-continer{
  padding: 12px;
}
.services-list .active-continer.active,
.services-list .active-continer:hover {
  background-color: var(--color-orange);
  color: white;
}
.service-list-content:hover{
  border: none;
}
.service-content {
  margin-top: 10px;
  color: #666;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .custom-col-left, .custom-col-right {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .key-points ul {
    grid-template-columns: 1fr;
  }
}
