<div [ngClass]="{ scrolled: isScrolled }" class="header-container">
  <div class="header">
    <div class="logo" routerLink=""><img [src]="logo" alt="" /></div>
    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
    <ul [ngClass]="{ active: isMenuOpen }" class="nav-item">
      <li *ngFor="let item of navItems"
          [routerLink]="[item?.link]"
          [ngClass]="{ active: activeItem === item?.name }"
          (click)="setActiveItem(item.name)">
        {{ item?.name }} <i class="{{ item?.icon }}"></i>
        @if (item?.name === 'Services') {
          <ng-container>
            <div class="drop-down">
              <ul>
                @for (service of allServiceCategories; track service?.serviceCategoryId) {
                <li (mouseenter)="onHover(service)">
                  {{ service.serviceCategoryName }}
                  @if (hoveredService === service) {
                    <ul class="sub-dropdown">
                      @for (subService of service.serviceSubCategories; track subService?.serviceId) {
                        <li> {{ subService.serviceName }}</li>
                      }
                  </ul>
                  }
                </li>
                }
              </ul>
            </div>
          </ng-container>
        }
      </li>
      <div class="social-link-one">
        <div class="ti ti-brand-linkedin social-content"></div>
        <div class="social-link-cta">Get a quote</div>
      </div>
    </ul>
    <div class="social-link">
      <div class="ti ti-brand-linkedin social-content"></div>
      <div class="social-link-cta">Get a quote</div>
    </div>
  </div>
</div>
