<div [ngClass]="{ scrolled: isScrolled }" class="header-container">
  <div class="header">
    <div class="logo" routerLink=""><img [src]="logo" alt=""></div>
    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
    <ul [ngClass]="{ active: isMenuOpen }" class="nav-item">
      <li
        *ngFor="let item of navItems"
        [routerLink]="[item.link]"
        [ngClass]="{ active: activeItem === item.name }"
        (click)="setActiveItem(item.name)"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</div>
