.header-container {
  padding: 20px 0;
  height: auto;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 0.8s ease;
}

.header-container.scrolled {
  background-color: white;
  color: #3c3c3c;
}

.header-container.scrolled .logo {
  color: #3c3c3c;
}

.header-container.scrolled .nav-item li {
  color: #3c3c3c;
}

/* Header Flexbox */
.header {
  position: relative;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: white;
}

.nav-item {
  display: flex;
  gap: 20px;
  list-style: none; /* Remove list bullets */
}

.nav-item li {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 500;
}

/* Active State */
.nav-item li.active {
  color: white;
  border-bottom: 2px solid var(--color-orange); /* Change as needed */
}

.nav-item li:not(:first-child)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-orange);
  transition: width 0.4s ease, left 0.4s ease;
}

.nav-item li:not(:first-child):hover::after {
  width: 100%;
  left: 0;
}

.nav-item li:not(:first-child):hover {
  border-bottom: 2px solid transparent;
  color: white;
}

/* Hamburger for mobile */
.hamburger {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1540px) {
  .header {
    width: 85%;
  }
}

@media (min-width: 1541px) {
  .header {
    max-width: 70%;
  }
}

/* Responsive Header and Banner Adjustments */
@media (max-width: 1172px) {
  .header {
    padding: 10px;
  }

  .hamburger {
    display: block;
    color: gray;
    font-size: 20px;
  }

  .nav-item {
    display: none; /* Initially hide for mobile */
  }

  .nav-item.active {
    display: block;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    background-color: white;
    color: #3c3c3c;
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    line-height: 30px;
  }
}

@media (max-width: 991px) {
  .nav-item {
    height: 85vh;
    margin: 0 20px;
    border-radius: 10px;
  }
  .header {
    width: 100%;
  }
  .nav-item li:first-child {
    color: #f68122; /* Change color for the first item if needed */
  }
}
