.header-container {
  padding: 20px 0;
  height: auto;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  transition: 0.8s ease;
  color: #3c3c3c;
}

.header {
  position: relative;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
}

.logo {
  width: 300px;
  height: auto;
  display: grid;
  place-items: center;
  overflow: hidden;
  cursor: pointer;
}

.logo img {
  width: 100%;
  mix-blend-mode: multiply;
}

.nav-item {
  display: flex;
  gap: 20px;
  list-style: none;
  position: relative;
}

.nav-item li {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.nav-item li.active {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
}

.nav-item li:not(:first-child)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-orange);
  transition: width 0.4s ease, left 0.4s ease;
}

.nav-item li:not(:first-child):hover::after {
  width: 100%;
  left: 0;
}

.nav-item li:not(:first-child):hover {
  border-bottom: 2px solid transparent;
  color: var(--color-orange);
}

.hamburger {
  display: none;
}

.drop-down li:hover > .sub-dropdown {
  display: block;
}

.nav-item li:hover .drop-down {
  display: block;
}

.nav-item li:hover .drop-down li {
  color: #3c3c3c;
  display: block;
  border: none !important;
}
.nav-item li:not(:first-child):hover .drop-down li::after {
  width: 0%;
}
.drop-down li:hover {
  color: var(--color-orange) !important;
}
.social-link {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.social-content {
  fill: #0077b5;
  font-size: 32px;
  font-weight: 700;
  color: #0a66c2;
}

.social-link-cta {
  padding: 6px 20px;
  color: #3c3c3c;
  border: 1px solid var(--color-orange);
  border-radius: 22px;
  font-weight: 500;
  transition: 0.8s ease;
}

.social-link-one {
  display: none;
}
.icon-linkedin {
  width: max-content;
  display: grid;
}

.icon-linkedin svg {
  fill: #0077b5;
  width: 28px;
  height: 28px;
}

.social-link-cta:hover {
  background-color: var(--color-orange);
  color: #ffffff;
}
.header-two {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 9999;
  transition: right 0.3s ease-in-out;
}

.header-two.active {
  right: 0;
}
.header-content-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}
.hamburger {
  font-size: 24px;
  cursor: pointer;
  color: orange;
}

.hamburger-two {
  font-size: 18px;
  color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  padding: 8px;
}

.nav-item-two {
  list-style-type: none;
  line-height: 52px;
  margin-top: 22px;
  padding: 12px;
  font-size: 22px;
}

.nav-item-two li:hover {
  color: var(--color-orange) !important;
}

@media (min-width: 1541px) {
  .header {
    max-width: 70%;
  }
}

@media (max-width: 1172px) {
  .header {
    padding: 10px;
  }

  .hamburger {
    display: block;
    color: gray;
    font-size: 20px;
  }

  .nav-item {
    display: none;
  }
}

@media (max-width: 991px) {
  .header {
    width: 100vw;
    padding: 0;
  }
  .nav-item.active{
    display: none;
  }
  .nav-item{
    display: none;
  }
  .social-link-one {
    display: block;
  }

  .social-link-cta {
    color: white;
    background-color: var(--color-orange);
  }
  .social-content {
    display: none;
  }
  .social-link {
    display: none;
  }
  .header {
    width: 100%;
  }

  .logo {
    width: 200px;
  }
}
