.project-heading-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: max-content;
  margin: auto;
}

.title-container {
  font-size: 32px;
  color: #364d59;
  font-weight: 700;
}

.divider-container {
  height: 2.5px;
  background-color: var(--color-orange);
  margin: 10px 0;
  width: 50px;
}
.project-sub-title {
  text-align: center;
  font-size: 16px;
  margin: 10px auto;
  color: #364d59;
}
@media (max-width: 650px) {
  .divider-container {
    width: 100%;
    display: none;
  }
  .title-container {
    font-size: 25px;
    text-align: center;
  }
}
