<div [ngStyle]="{ 'background-image': currentBackgroundImage }" class="banner-container">
  <div class="banner-content">
    <div data-aos="fade-up" data-aos-delay="100">
      <div class="banner-title">
        <div>Building a future</div>
        <div>with innovation and precision</div>
      </div>
      <div data-aos="fade-up">
        <div class="banner-sub-title">
          We provide the best architectural design, construction, and building maintenance services for you.
        </div>
      </div>
      <div class="get-touch-cta" (click)="navigateToServices()">
        Our Services <i class="ti ti-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
