<div [ngStyle]="{ 'background-image': currentBackgroundImage }" class="banner-container">
  <div class="banner-content">
    <div data-aos="fade-up" data-aos-delay="100">
      <div class="banner-title">
        <div>Building a future</div>
        <div>with innovation and precision</div>
      </div>
      <div data-aos="fade-up">
        @for (keypoint of keyPoints; track keypoint?.key) {
        <div class="banner-sub-title">
          <i class="ti ti-circle-check icon"></i>
          <span>{{keypoint?.key}}</span>
        </div>
        }
      </div>
      <div class="get-touch-cta" (click)="navigateToServices()">
        Our Services <i class="ti ti-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
