.banner-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  transition: background-image 1s ease-in-out;
  position: relative;
}

.banner-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  z-index: 0;
}

.icon {
  margin-right: 8px;
  font-size: 24px;
  padding-left: 0 !important;
  color: var(--color-orange);
}

.banner-content {
  position: relative;
  padding: 0 20px;
  color: white;
  max-width: 920px;
  text-align: left;
  margin-left: 120px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.banner-title {
  font-size: 68px;
  font-weight: bold;
  margin-bottom: 40px;
}

.banner-title div:last-child {
width: max-content;
}

.banner-sub-title {
  display: flex;
  align-items: center;
  max-width: 920px !important;
  font-size: 18px;
  line-height: 1.8;
}

.get-touch-cta {
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
  transition: 0.8s ease;
  margin-top: 60px;
}

.get-touch-cta i {
  font-size: 18px;
  cursor: pointer;
  color: #FFFFFF;
  pointer-events: auto;
  padding: 2px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  margin: 8px;
}

.get-touch-cta:hover {
  background-color: var(--color-orange);
  border: 2px solid var(--color-orange);
}

@media (max-width: 768px) {
  .banner-title div:first-child {
    font-size: 32px;
  }

  .banner-title div:last-child {
    font-size: 24px;
  }

  .banner-sub-title {
    font-size: 16px;
  }
}
