<div class="project-container">
  <app-heading-content
    title="Project"
    subTitle="Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit"
  ></app-heading-content>
  <div class="project-card-content">
    @for(image of projectImages; track image){
    <div class="project-card" (click)="navigateToProjectDetail(image.id)">
      <img [src]="image?.imageUrl" alt="Project Image" />
      <div class="overlay">
        <div class="project-detail-cta">Click me</div>
      </div>
    </div>
    }
  </div>
</div>
