.project-container {
  margin: 60px auto;
}

.project-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
  gap: 20px;
}

.project-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 312px;
}

.card-title {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  transition: transform 0.3s ease;
}

.project-card img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.2);
}

.overlay {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.overlay:hover {
  color: #f68122;
}

.project-detail-cta{
  color: white;
  font-size: 16px;
}
@media (min-width: 1024px) and (max-width: 1540px) {
  .project-container{
    width: 85%;
  }
}

@media (min-width: 1541px) {
  .project-container {
    max-width: 70%;
  }
}
@media (max-width: 991px) {
  .project-container {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }

  .project-card-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project-card {
    position: relative; /* Keep the structure intact for the overlay */
    width: 100%;
    height: auto; /* Allow the height to adjust */
  }

  .project-card img {
    width: 100%;
    height: auto; /* Adjust the image to fit the card */
    margin-bottom: 12px;
  }

  .project-card:hover .overlay {
    opacity: 1;
  }
}

