<div class="service-container">
  <div class="service-heading-container">
    <div class="divider-container"></div>
    <div class="title-container">Services</div>
    <div class="divider-container"></div>
  </div>
  <div class="service-sub-title">
    Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur
    velit
  </div>

  <div class="service-card-container">
    <div class="service-card-content">
      <div class="card-logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-mountain"
          width="70"
          height="60"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 19l9 -15l9 15h-18z" />
          <path d="M10 12l-2 3h8l-2 -3l-2 -2z" />
        </svg>
      </div>
      <div class="card-title">Nesciunt Mete</div>
      <div class="card-sub-title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus beatae
        voluptas quidem accusamus nihil id tenetur enim voluptatibus minima
        inventore! Nobis quo rem illo optio dignissimos ipsa neque molestiae
        pariatur?
      </div>
      <div class="read-more">
        Read more 
      </div>
    </div>
    <div class="service-card-content">
        <div class="card-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mountain"
            width="70"
            height="60"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 19l9 -15l9 15h-18z" />
            <path d="M10 12l-2 3h8l-2 -3l-2 -2z" />
          </svg>
        </div>
        <div class="card-title">Nesciunt Mete</div>
        <div class="card-sub-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus beatae
          voluptas quidem accusamus nihil id tenetur enim voluptatibus minima
          inventore! Nobis quo rem illo optio dignissimos ipsa neque molestiae
          pariatur?
        </div>
        <div class="read-more">
          Read more 
        </div>
      </div>
      <div class="service-card-content">
        <div class="card-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mountain"
            width="70"
            height="60"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 19l9 -15l9 15h-18z" />
            <path d="M10 12l-2 3h8l-2 -3l-2 -2z" />
          </svg>
        </div>
        <div class="card-title">Nesciunt Mete</div>
        <div class="card-sub-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus beatae
          voluptas quidem accusamus nihil id tenetur enim voluptatibus minima
          inventore! Nobis quo rem illo optio dignissimos ipsa neque molestiae
          pariatur?
        </div>
        <div class="read-more">
          Read more 
        </div>
      </div>
      <div class="service-card-content">
        <div class="card-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mountain"
            width="70"
            height="60"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 19l9 -15l9 15h-18z" />
            <path d="M10 12l-2 3h8l-2 -3l-2 -2z" />
          </svg>
        </div>
        <div class="card-title">Nesciunt Mete</div>
        <div class="card-sub-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus beatae
          voluptas quidem accusamus nihil id tenetur enim voluptatibus minima
          inventore! Nobis quo rem illo optio dignissimos ipsa neque molestiae
          pariatur?
        </div>
        <div class="read-more">
          Read more 
        </div>
      </div>
      <div class="service-card-content">
        <div class="card-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mountain"
            width="70"
            height="60"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 19l9 -15l9 15h-18z" />
            <path d="M10 12l-2 3h8l-2 -3l-2 -2z" />
          </svg>
        </div>
        <div class="card-title">Nesciunt Mete</div>
        <div class="card-sub-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus beatae
          voluptas quidem accusamus nihil id tenetur enim voluptatibus minima
          inventore! Nobis quo rem illo optio dignissimos ipsa neque molestiae
          pariatur?
        </div>
        <div class="read-more">
          Read more 
        </div>
      </div>
      <div class="service-card-content">
        <div class="card-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mountain"
            width="70"
            height="60"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 19l9 -15l9 15h-18z" />
            <path d="M10 12l-2 3h8l-2 -3l-2 -2z" />
          </svg>
        </div>
        <div class="card-title">Eosle Commodi</div>
        <div class="card-sub-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus beatae
          voluptas quidem accusamus nihil id tenetur enim voluptatibus minima
          inventore! Nobis quo rem illo optio dignissimos ipsa neque molestiae
          pariatur?
        </div>
        <div class="read-more">
          Read more 
        </div>
      </div>
  </div>
</div>
