@if(isServicesBanner){
<app-banner-content title="Services"
                    breadcrumbText="Home / Services"
                    bannerHeight="400px">
</app-banner-content>
}
<div class="service" data-aos="fade-up" data-aos-delay="300">
  <div class="service-container">
    @if(!isServicesBanner){
    <div style="padding-top: 40px;">
      <app-heading-content title="Services"
                           subTitle="Comprehensive Construction Solutions Tailored to Your Needs.">
      </app-heading-content>
    </div>
    }
    <div class="service-card-container" data-aos="fade-up" data-aos-delay="100">
    @for (service of services; track service?.serviceId) {
      <div class="service-card-content" (click)="navigateToServiceDetails(service)">
        <div class="card-logo">
          <i [class]="service?.serviceIcon"></i>
        </div>
        <div class="card-title">{{service?.serviceName}}</div>
        <div class="card-sub-title">{{service?.serviceDescription}}</div>
        <div class="read-more">Read more</div>
      </div>
    }
    </div>
  </div>
</div>
