<app-banner-content title="Building the Future with Innovation and Precision."
  					buttonText="Get started"
  					subTitle="Since its founding in 2007, Yousef Saleh Yousef Contracting and Establishment (YSY) has grown into
					a trusted name in construction, completing over 50 successful projects across the Kingdom. Our
					work spans residential, commercial, and industrial projects, including partnerships with top
					organizations like Saudi Electricity Co. and Royal Commission Jubail.
					We continually adopt innovative practices to deliver cost-effective, high-quality solutions,
					maintaining a strong focus on client satisfaction and timely delivery. With over 17 years of
					experience, YSY stands as a reliable partner in the construction industry, known for turning visions
					into reality.">
</app-banner-content>
<div class="container rr-shape-p-c_1">
  <div class="about-us__shape-1 rr-shape-p-s_1">
    <img src="assets/img/website-images/shape-1.png" alt="">
  </div>
  <div class="about-us__shape-2 rr-shape-p-s_1 upDown"></div>
  <div class="about-us__shape-3 rr-shape-p-s_1 downUp"></div>

  <div class="row custom-flex-center">
    <div class="custom-col-xl-6">
      <div class="row align-items-center">
        <div class="custom-col-sm-6">
          <div class="about-us__media-video-wrapper clip-a-z">
            <div class="about-us__media img2">
              <img src="assets/img/website-images/about-us-1.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="custom-col-sm-6">
          <div class="about-us__media img1 clip-a-z">
            <img src="assets/img/website-images/about-us-2.jpg" alt="">
          </div>
          <div class="about-us__media-circle__wrapper">
            <div class="about-us__media img2 clip-a-z">
              <img src="assets/img/website-images/about-us-3.jpg" alt="">
            </div>
            <div class="about-us__box">
              <div class="circle">
                <div class="logo">
                  <img src="assets/img/website-images/25-experice.svg" alt="">
                </div>
                <div class="c-text">
                  <p>
                    .25 YEARS OF EXPERIENCE  .25 YEARS OF EXPERIENCE
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="section__title-wrapper text-center text-lg-start pl-30">
        <span class="section__subtitle mb-13">
          <span data-width="40px" class="left-separator"></span>About Us
        </span>
        <h2 class="section__title title-animation mb-15">Building Tomorrow’s World with Excellence in Construction.</h2>
        <p class="mb-45">Proactively pontificate client-centered relationships vis-a-vis process centric leadership skills. Credibly maintain focused internal or “organic” sources rather than vertical alignments.</p>
        <ul class="about-us__list mb-25">
          <li><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></span>Market Research</li>
          <li><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></span>Industrial manufacturing</li>
          <li><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></span>Pre-construction services</li>
          <li><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></span>Building and construction</li>
        </ul>
        <a href="about-us.html" class="rr-btn">
          <span class="btn-wrap">
            <span class="text-one">More About Us</span>
            <span class="text-two">More About Us</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>




<app-services></app-services>
<app-project></app-project>
<app-client></app-client>
