.about-container {
  width: 85%;
  margin: 70px auto;
}
.about-container-content{
  background-color: rgb(255, 237, 237,0.4);
  padding: 40px 20px;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.about-image-content {
  background-image: url("../../assets/img/website-images/shape-1.png");
  background-position: center;
  padding: 12px 0;
  background-size: contain;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  place-content: center;
  position: relative;
}

.image-one {
  height: auto;
  width: 250px;
  margin-bottom: 20px;
  overflow: hidden;

}
.image-one img {
  width: 100%;
  border: 6px solid white;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}
.title {
  font-size: 48px;
  line-height: 1.2;
}
.sub-title {
  font-size: 17px;
  font-weight: normal;
  color: #6a6a6a;
  margin-bottom: 30px;
  line-height: 28px;
  margin-top: 30px;
}
.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.check-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.icon {
  color: var(--color-orange);
  font-size: 32px;
}
.more-about-us-cta {
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  text-align: center;
  width: max-content;
  margin-top: 40px;
  background-color: var(--color-orange);
  cursor: pointer;
}
.about-us-divider {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-orange);
  margin-bottom: 20px;
}
.divider {
  width: 40px;
  height: 3px;
  background-color: var(--color-orange);
  list-style-type: none;
}

.about-left-container img{
  width: 100%;
}
@media (min-width: 1541px) {
  .about-container{
    max-width: 70%;
  }
}
@media(max-width:991px){
  .about-content{
    display: block;
  }
  .about-image-content{
    height: max-content;
  }
  .image-one {
    width: 150px;
  }
}
