<app-home-banner></app-home-banner>
<div class="about-container-content">
  <div class="about-container">
    <div class="about-content">
      <div class="about-image-container">
       <div class="about-image-content">
        <div class="image-one"><img src="https://html.rrdevs.net/ribuild/assets/imgs/about-us/about-media-3.jpg" alt=""></div>
        <div class="image-container-two">
          <div class="image-one"><img src="https://html.rrdevs.net/ribuild/assets/imgs/about-us/about-media-1.jpg" alt=""></div>
          <div class="image-one"><img src="https://html.rrdevs.net/ribuild/assets/imgs/about-us/about-media-2.jpg" alt=""></div>
        </div>
       </div>
      </div>
      <div class="about-title-container">
        <div class="about-us-divider"> <li class="divider"></li> About us</div>
        <div class="title">
          Building Tomorrow’s World with Excellence in Construction.
        </div>
        <div class="sub-title">
          Empowering visionary growth through precision, innovation, and commitment to quality in every project.
          Seamlessly fostering client-focused partnerships and elevating industry standards with integrity and expertise.
        </div>
        <div class="info-container">
          <div class="check-title">
            <div class="ti ti-circle-check icon"></div>
            <div class="info-title">Market Research</div>
          </div>
          <div class="check-title">
            <div class="ti ti-circle-check icon"></div>
            <div class="info-title">Building and construction</div>
          </div>
          <div class="check-title">
            <div class="ti ti-circle-check icon"></div>
            <div class="info-title">Maintenance and operations</div>
          </div>
          <div class="check-title">
            <div class="ti ti-circle-check icon"></div>
            <div class="info-title">Water proofing</div>
          </div>
        </div>
        <div class="more-about-us-cta" (click)="navigateToAboutUs()">More About Us</div>
      </div>
    </div>
  </div>
</div>
<app-services></app-services>
<app-project></app-project>
<!--<app-client></app-client>-->
