<div class="form-container">
  <div class="form-title-container">
    <div class="title">Quotation for residential or commercial</div>
    <div class="divider"></div>
    <div class="sub-title">
      At Yousef Saleh Yousef, we understand that every project is unique and requires a tailored approach. Whether you’re planning a residential build, a commercial project, or an infrastructure development, we are here to provide you with a comprehensive and competitive quote that meets your specific needs.
    </div>
  </div>

  <div class="input-form-container" data-aos="zoom-out" data-aos-delay="200">
    <h3>GET A QUOTE</h3>
    <div class="form-sub-title">
      Fill out the form below to receive a customized quote tailored to your project needs.
    </div>

    <form class="form-content">
      <input class="input-field" type="text" required placeholder="Name" />
      <input class="input-field" type="email" required placeholder="Email" />
      <input class="input-field" type="number" required placeholder="Phone" />
      <textarea class="input-field" placeholder="Message"></textarea>
      <div class="submit-button">
        <button type="submit">Get a quote</button>
      </div>
    </form>
  </div>
</div>
