<div class="form-container">
  <div class="form-title-container">
    <div class="title">Minus hic non reiciendis ea possimus at quia.</div>
    <div class="divider"></div>
    <div class="sub-title">
      Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut
      iusto ipsa. Eos ipsum nobis ipsa soluta itaque perspiciatis fuga ipsum
      perspiciatis. Eum amet fugiat totam nisi possimus ut delectus dicta.
    </div>
    <div class="sub-title">
      Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit
      eligendi labore culpa eos. Deserunt porro magni qui necessitatibus dolorem
      at animi cupiditate.
    </div>
  </div>

  <div class="input-form-container">
    <div>GET A QUOTE</div>
    <div class="form-sub-title">
      Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum
      repellendus enim linead sero park flows.
    </div>

    <form class="form-content">
      <input class="input-field" type="text" required placeholder="Name" />
      <input class="input-field" type="email" required placeholder="Email" />
      <input class="input-field" type="number" required placeholder="Phone" />
      <textarea class="input-field" placeholder="Message"></textarea>
      <div class="submit-button">
        <button type="submit">Get a quote</button>
      </div>
    </form>
  </div>
</div>
