<div>
  <app-banner-content title="Service category"
                      bannerHeight="400px"
                      [breadcrumbTexts]="breadcrumbTexts">
  </app-banner-content>
</div>
<div class="service-container">
  <div>
    <h4 class="right-side-title">Categories</h4>
    <div class="services-list">
      @for (allService of allServices; track allService?.serviceId) {
        <div class="service-detail">
          <a href="#"
             (click)="selectService($event, allService)"
             [class.active]="selectedService?.serviceName === allService?.serviceName">
            {{ allService.serviceName }}
          </a>
        </div>
        }
      </div>
    </div>
    @if (selectedService) {
      <div class="service-detail-view">
        <app-service-detail [service]="selectedService"></app-service-detail>
      </div>
    }
</div>
