.service-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.services-list {
  position: sticky;
  top: 60px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(21, 24, 27, 0.1);
}

.services-list .service-detail a {
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
  border-radius: 3px;
  border: 1px solid rgba(21, 24, 27, 0.1);
  padding: 15px 24px;
  margin-bottom: 15px;
}

.service-detail {
  display: flex;
  flex-direction: column;
}

.services-list .service-detail a:hover {
  background-color: var(--color-orange);
  color: white;
  border-color: transparent;
  img {
    filter: brightness(0) invert(1);
  }
}

.services-list .service-detail a.active {
  color: var(--color-orange);
}

.services-list .service-detail a.active:hover {
  color: white;
}

.right-side-title {
  font-size: 24px;
  display: block;
  line-height: 29px;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
    align-items: center;
    padding: 12px 10px 0 10px;
  }
  .services-list, .service-detail-view {
    max-width: 100%;
  }
}

