<app-banner-content title="Awards"
                    bannerHeight="400px"
                    [breadcrumbTexts]="breadcrumbTexts">
</app-banner-content>

<div class="certificate-section">
  <app-heading-content title="Awards and Certificates"
                       subTitle="Showcasing excellence through our awards and certificates in the construction industry.">
  </app-heading-content>
  <div class="certificate-content">
    @for (aFourRecognitionCertificate of aFourRecognitionCertificates; track aFourRecognitionCertificate?.certificateId; let i = $index) {
     <div class="certificate-card">
       <div class="certificate-content-card">
         <img class="award-logo"
              [src]="aFourRecognitionCertificate?.image"
              [alt]="aFourRecognitionCertificate?.certificateName"
              (click)="openPopup(aFourRecognitionCertificate?.showImage)"/>
       </div>
       <div class="download-icon">
         <i class="ti ti-download" (click)="downloadImage(aFourRecognitionCertificate)"></i>
       </div>
     </div>
    }
  </div>
  <app-heading-content title="Commercial Certificates"
                       subTitle="Highlighting our expertise with esteemed commercial certificates.">
  </app-heading-content>
  <div class="certificate-content">
    @for(commercialCertificate of commercialCertificates; track commercialCertificate?.certificateId) {
      <div class="certificate-card" (click)="openPopup(commercialCertificate?.showImage)">
        <div class="certificate-content-card" >
          <img class="award-logo"
               [src]="commercialCertificate?.image"/>
        </div>
        <div class="download-icon">
          <i class="ti ti-download" (click)="downloadImage(commercialCertificate)"></i>
        </div>
      </div>
    }
  </div>
  <app-heading-content title="ISO Certification"
                       subTitle="Demonstrating quality standards with our ISO certifications.">
  </app-heading-content>
  <div class="certificate-content">
    @for(isoCertificate of isoCertificates; track isoCertificate?.certificateId; let i = $index){
      <div class="certificate-card" (click)="openPopup(isoCertificate?.showImage)">
        <div class="certificate-content-card">
          <img class="award-logo"
               [src]="isoCertificate.image"
               [alt]="isoCertificate.certificateName"/>
        </div>
        <div class="download-icon">
          <i class="ti ti-download" (click)="downloadImage(isoCertificate)"></i>
        </div>
      </div>
    }
  </div>
  <app-heading-content title="Pre-Qualified Certification"
                       subTitle="Building trust through our pre-qualified certifications.">
  </app-heading-content>
  <div class="certificate-content">
    @for(preQualifiedCertificate of preQualifiedCertificates; track preQualifiedCertificate?.certificateId; let i = $index){
      <div class="certificate-card" (click)="openPopup(preQualifiedCertificate?.showImage)">
        <div class="certificate-content-card">
          <img class="award-logo"
               [src]="preQualifiedCertificate.image"
               [alt]="preQualifiedCertificate.certificateName"/>
        </div>
        <div class="download-icon">
          <i class="ti ti-download" (click)="downloadImage(preQualifiedCertificate)"></i>
        </div>
      </div>
    }
  </div>
  <div *ngIf="isPopupOpen" class="popup" (click)="closePopup()">
      <span class="close" (click)="closePopup()">&times;</span>
      <img [src]="popupImageSrc" class="popup-content" alt="Popup Image">
  </div>
</div>
