<app-banner-content title="Awards"
                    bannerHeight="400px"
                    [breadcrumbTexts]="breadcrumbTexts">
</app-banner-content>
<div class="award-columns">
	<div>
		<app-heading-content title="Commercial Certificates"
							 subTitle="subTitle">
		</app-heading-content>
		<div class="our-award-container">
		  <div class="certificate-carousel">
			<div class="certificate-detail" #carousel>
			  @for(commercialCertificate of commercialCertificates; track commercialCertificate) {
				<img [src]="commercialCertificate?.image"
					 (click)="openPopup(commercialCertificate?.image)"/>
			  }
			</div>
			<div class="carousel-button">
			  <i class="ti ti-arrow-narrow-left" (click)="scrollLeft('CC')"></i>
			  <i class="ti ti-arrow-narrow-right" (click)="scrollRight('CC')"></i>
			</div>
		  </div>
		</div>
	</div>
	<div>
		<app-heading-content title="ISO Certification"
							 subTitle="subTitle">
		</app-heading-content>
		<div class="our-award-container">
		  <div class="iso-award-carousel">
			<div class="iso-award-track">
			  @for(isoCertificate of isoCertificates; track isoCertificate?.certificateId; let i = $index){
				<div class="award-item">
				  <img
					class="award-logo"
					[src]="isoCertificate.image"
					[alt]="isoCertificate.certificateName"
					(click)="openPopup(isoCertificate?.image)"
				  />
				</div>
			  }
			</div>
		  </div>
		</div>
	</div>
	<div>
		<app-heading-content title="Awards and Certificates"
							 subTitle="subTitle">
		</app-heading-content>
		<div class="our-award-container">
		  <div class="certificate-carousel">
			<div class="certificate-detail" #recognitionCarousel>
			  @for(recognitionCertificate of recognitionCertificates; track recognitionCertificate) {
				<img [src]="recognitionCertificate?.image"
					 (click)="openPopup(recognitionCertificate?.image)"/>
			  }
			</div>
			<div class="carousel-button">
			  <i class="ti ti-arrow-narrow-left" (click)="scrollLeft('RC')"></i>
			  <i class="ti ti-arrow-narrow-right" (click)="scrollRight('RC')"></i>
			</div>
		  </div>
		</div>
	</div>
	<div>
		<app-heading-content title="Pre-Qualified Certification"
							 subTitle="subTitle">
		</app-heading-content>
		<div class="our-award-container">
		  <div class="certificate-carousel">
			<div class="certificate-detail" #preCarousel>
			  @for(preQualifiedCertificate of preQualifiedCertificates; track preQualifiedCertificate) {
				<img [src]="preQualifiedCertificate?.image"
					 (click)="openPopup(preQualifiedCertificate?.image)"/>
			  }
			</div>
		  </div>
		</div>
		<div *ngIf="isPopupOpen" class="popup" (click)="closePopup()">
		  <span class="close" (click)="closePopup()">&times;</span>
		  <img [src]="popupImageSrc" class="popup-content" alt="Popup Image">
		</div>
	</div>
</div>
