<div class="footer-container">
  <div class="footer-content">
    <div class="footer-item">
      <div class="footer-logo">
        <img src="assets/img/website-images/ysy-logo.png" />
      </div>
      <div class="footer-description">
        Officia deserunt mollitia animi, id est laborum fuga. Et harum quidem
        rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
        nobis est
      </div>
      <div class="social-link">
        <div class="ti ti-brand-facebook social-icon"></div>
        <div class="ti ti-brand-facebook social-icon"></div>
        <div class="ti ti-brand-facebook social-icon"></div>
        <div class="ti ti-brand-facebook social-icon"></div>
      </div>
    </div>
    <div class="footer-item">
        <div class="pages-title">Pages</div>
        <div class="pages-sub-title">About Us</div>
        <div class="pages-sub-title">Our Team</div>
        <div class="pages-sub-title">Testimonials</div>
        <div class="pages-sub-title">Blog Grid</div>
        <div class="pages-sub-title">Projects</div>
    </div>
    <div class="footer-item">
        <div class="pages-title">Our Service</div>
        <div class="pages-sub-title">General Construction</div>
        <div class="pages-sub-title">Property Maintenance</div>
        <div class="pages-sub-title">Project Managment</div>
        <div class="pages-sub-title">Virtual Design & Build</div>
        <div class="pages-sub-title">Preconstruction</div>
    </div>
    <div class="footer-item">
        <div class="pages-title">Contact Us</div>
        <div class="contact-content">
            <div class="ti ti-phone icon"></div>
            <div class="contact-description">
                <div class="title">Call us for support</div>
                <div class="sub-title">+888 (123) 869523</div>
            </div>
        </div>
        <div class="contact-content">
            <div class="ti ti-phone icon"></div>
            <div class="contact-description">
                <div class="title">Call us for support</div>
                <div class="sub-title">+888 (123) 869523</div>
            </div>
        </div>
        <div class="contact-content">
            <div class="ti ti-phone icon"></div>
            <div class="contact-description">
                <div class="title">Call us for support</div>
                <div class="sub-title">+888 (123) 869523</div>
            </div>
        </div>
    </div>
  </div>
</div>
