<div class="footer-container">
  <div class="footer-content">
      <div class="footer-info">
          <div class="company">Yousef Saleh Yousef Contracting and Establishment</div>
          <p>P. O. Box No. 2077 <br> Dammam-31451 <br> Kingdom of Saudi Arabia.</p>
          <p>Phone: +966-13-819 1114</p>
          <p>Email: contact&#64;symcoest.com</p>
          <div class="social-icons">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="footer-logo"><img src="assets/website-svg/vision-2030.svg" alt="">
          </div>
      </div>
      <div class="footer-links">
          <div class="section">
              <h4>Useful Links</h4>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/services">Services</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="copy-write-container">
      <div class="copy-write-title">
        Copyright © 2024 Yousef Saleh Yousef All rights reserved
      </div>
      <div class="copy-write-sub-title">Designed by <span class="">Denplex Arabia</span></div>
  </div>
</div>
