<div class="footer-container">
  <div class="footer-content">
    <div class="footer-item-one">
      <div class="footer-logo">
        <img src="assets/img/website-images/ysy-logo.png" />
      </div>
      <div class="footer-description">
        Empowering visionary growth through precision, innovation, and commitment to quality in every project.
        Seamlessly fostering client-focused partnerships and elevating industry standards with integrity and expertise.
      </div>
      <div class="vision-2030-logo">
       <img src="assets\website-svg\vision-2030.svg" alt="">
      </div>
    </div>
    <div class="footer-item">
        <div class="pages-title">Pages</div>
        <div class="pages-sub-title" routerLink="/about">About Us</div>
        <div class="pages-sub-title" routerLink="/project">Our Projects</div>
        <div class="pages-sub-title" routerLink="/service-category">Services</div>
        <div class="pages-sub-title" routerLink="/contact">Contact Us</div>
    </div>
    <div class="footer-item">
        <div class="pages-title">Our Service</div>
        <div class="pages-sub-title" routerLink="/service-category/1/services">Construction</div>
        <div class="pages-sub-title" routerLink="/service-category/2/services">Maintenance & Operations</div>
        <div class="pages-sub-title" routerLink="/service-category/3/services">Water Proofing</div>
    </div>
    <div class="footer-item">
        <div class="pages-title">Contact Us</div>
        <div class="contact-content">
            <div class="ti ti-phone icon"></div>
            <div class="contact-description">
                <div class="title">Call us for support</div>
                <div class="sub-title">+888 (123) 869523</div>
            </div>
        </div>
        <div class="contact-content">
            <div class="ti ti-mail icon"></div>
            <div class="contact-description">
                <div class="title">Email us for query</div>
                <div class="sub-title">contact&#64;symcoest.com</div>
            </div>
        </div>
        <div class="contact-content">
            <div class="ti ti-map-2 icon"></div>
            <div class="contact-description">
                <div class="title">P. O. Box No. 2077, Dammam-31451</div>
                <div class="title">Kingdom of Saudi Arabia.</div>
            </div>
        </div>
    </div>
  </div>
  <div class="copy-write-container">
    <div class="copy-write-title">
      Copyright © 2024 Yousef Saleh Yousef All rights reserved
    </div>
    <div class="copy-write-sub-title">Designed by <span class="">Denplex Arabia</span></div>
</div>
</div>
