.project-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  margin: 40px auto;
}

.project-detail {
  flex: 0 0 66.67%;
}
.project-detail h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #52565e;
}
.project-detail p {
  font-size: 18px;
  color: #364d59;
  margin-bottom: 10px;
}

.related-info {
  flex: 0 0 33.33%;
  padding-left:30px;
  margin-top: -6%;
}

.related-info .title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6A6A6A;
}
.related-info .sub-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #15181B;
  padding-bottom: 10px;
}
.related-info .project-link {
  font-size: 16px;
  color: var(--color-orange);
  cursor: pointer;
}
.heading-container{
  background-color: var(--color-orange);
  width: 100%;
  padding: 30px;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 20px;
}
.related-item-content{
  background-color: #F9F9F8;
  padding: 30px;
}
.related-item{
  border-bottom: 1px solid rgba(21, 24, 27, 0.1);
  margin-bottom: 12px;
}

.btn {
  padding: 8px 40px;
  background: var(--color-orange);
  color: white;
  border-radius: 50px;
  transition: 0.3s;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: #0056b3;
}
.project-detail-image{
  overflow: hidden;
}
.project-detail-image img{
  width: 100%;
  margin-bottom: 30px;
}
.list-item-project-detail{
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  color:#15181B;
}
.projects-carousel {
  overflow: hidden;
  margin-top: 30px;
  position: relative;
}

.project-card-detail {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  scrollbar-width: none;
}

.project-card-detail img {
  border-radius: 8px;
  width: 430px;
}

.project-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.project-button i {
  font-size: 38px;
  cursor: pointer;
  color: var(--color-orange);
  pointer-events: auto;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 22px;
}


@media (max-width: 768px) {
  .project-detail,
  .related-info {
    flex: 0 0 100%;
  }
}
