<div style="margin-top: 30px;">
  <app-banner-content title="Project detail" breadcrumbText="Home / Project Details" bannerHeight="300px"></app-banner-content>
</div>
<div class="project-container">
  <div class="project-detail">
    <h2>This is an example of portfodivo details</h2>
    <p>
      Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque
      inventore commodi labore quia quia. Exercitationem repudiandae officiis
      neque suscipit non officia eaque itaque enim. Voluptatem officia
      accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi
      nulla at esse enim cum deserunt eius. Amet consequatur qui dolore veniam
      voluptatem voluptatem sit. Non aspernatur atque natus ut cum nam et.
      Praesentium error dolores rerum minus sequi quia veritatis eum. Eos et
      doloribus doloremque nesciunt molestiae laboriosam.
    </p>
    <p>voluptatem voluptatem sit. Non aspernatur atque natus ut cum nam et.
      Praesentium error dolores rerum minus sequi quia veritatis eum. Eos et
      doloribus doloremque nesciunt molestiae laboriosam.</p>
  </div>

  <div class="related-info">
    <h3>Project Information</h3>
    <div class="related-item">
      <div class="title">CATEGORY</div>
      <div class="sub-title">Web design</div>
    </div>
    <div class="related-item">
      <div class="title">CdivENT</div>
      <div class="sub-title">ASU Company</div>
    </div>
    <div class="related-item">
      <div class="title">PROJECT URL</div>
      <div class="project-link">www.example.com</div>
    </div>
    <button class="btn">Visit Website</button>
  </div>
</div>
