<div>
  <app-banner-content title="Project detail"
                      [breadcrumbTexts]="breadcrumbTexts"
                      bannerHeight="400px">
  </app-banner-content>
</div>
<div class="project-container">
  <div class="project-detail-image">
    <img
      [src]="project?.image"
      alt=""
    />
  </div>
  <div class="project-detail">
    <h2>{{project?.name}}</h2>
    <p>
      {{project?.description}}
    </p>
    @if (project?.subDescription) {
      <p>
        {{project?.subDescription}}
      </p>
    }
    @for (keyPoint of project?.projectInfo?.keyPoints; track project?.id) {
      <li class="list-item-project-detail">
        {{keyPoint}}
      </li>
    }
  </div>
  <div class="related-info">
    <div class="heading-container"><h3>Project Information</h3></div>
    <div class="related-item-content">
      <div class="related-item">
        <div class="title">Client Name:</div>
        <div class="sub-title">{{project?.projectInfo?.clientName}}</div>
      </div>
      @if (project?.projectInfo?.mainContractor) {
        <div class="related-item">
          <div class="title">Main Contractor:</div>
          <div class="sub-title">{{project?.projectInfo?.mainContractor}}</div>
        </div>
      }
      @if (project?.projectType) {
        <div class="related-item">
          <div class="title">Category:</div>
          <div class="sub-title">{{ project?.projectType }}</div>
        </div>
      }
      @if (project?.projectInfo?.startDate) {
        <div class="related-item">
          <div class="title">Start Date:</div>
          <div class="sub-title">{{project?.projectInfo?.startDate}}</div>
        </div>
      }
      @if (project?.projectInfo?.startDate) {
        <div class="related-item">
          <div class="title">End Date:</div>
          <div class="sub-title">{{project?.projectInfo?.endDate}}</div>
        </div>
      }
      @if (project?.projectInfo?.website) {
        <div class="related-item">
          <div class="title">Website:</div>
          <div class="sub-title">http://rrdevs.com</div>
        </div>
      }
    </div>
  </div>
  <div class="projects-carousel">
    <div class="project-card-detail" #carousel>
      @for(image of project?.projectInfo?.images; track image) {
        <img [src]="image" />
      }
    </div>
      <div class="project-button">
        <i class="ti ti-arrow-narrow-left" (click)="scrollLeft()"></i>
        <i class="ti ti-arrow-narrow-right" (click)="scrollRight()"></i>
      </div>
  </div>
</div>
