<app-banner-content title="About"
                    bannerHeight="400px"
                    breadcrumbText="Home / About">
</app-banner-content>
<div class="about-container">
  <div class="about-content">
    <div class="about-first-content">
      <div class="about-first-title">
        About Yousef Saleh Yousef
      </div>
      <div class="about-first-card-content">
        <span class="est">Est 2007</span>
        <div class="card-title">Our Story</div>
        <div class="card-sub-title">
          Yousef Saleh Yousef Contracting and Establishment (YSY) was established in 2007 with a clear
          vision: to build a legacy of excellence in the construction sector. With over 17 years of experience,
          YSY has successfully completed over 50 diverse projects, ranging from residential homes to largescale industrial and commercial complexes.
          Our strength lies in our dedication to quality, innovation, and a customer-centric approach. From
          our humble beginnings, we have grown into a trusted name in the Kingdom’s construction industry,
          continuously pushing the boundaries of what is possible in modern construction.
          At YSY, our leadership plays a crucial role in shaping our success. Under the guidance of our
          esteemed Chairman, Yousef Saleh Al Dossary, and Project Director, Shamsuddin Khan, we have
          built a strong foundation for delivering projects that exceed client expectations.
          <div class="story-points">
            <div>
              <i class="ti ti-circle-check icon-class"></i>
              <span class="points">Completed nearly 50 projects across various sectors.</span>
            </div>
            <div>
              <i class="ti ti-circle-check icon-class"></i>
              <span class="points">Provided services to a large number of individuals.</span>
            </div>
            <div>
              <i class="ti ti-circle-check icon-class"></i>
              <span class="points">Projects include residential, industrial, and commercial
                complexes.
              </span>
            </div>
            <div>
              <i class="ti ti-circle-check icon-class"></i>
              <span class="points">
                Gained reputation as a result-oriented company in the Kingdom.
              </span>
            </div>
            <div>
              <i class="ti ti-circle-check icon-class"></i>
              <span class="points">
                Collaborated with clients like Saudi Electricity Co., Royal Commission Jubail, Alawal Bank.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-first-image-container">
      <img src="https://www.bootstrapmade.com/content/demo/UpConstruction/assets/img/about.jpg"  alt="" />
    </div>
  </div>
  <div class="about-element-title" data-aos="fade-up" data-aos-delay="100">
    <div class="element-logo">
      <img src="https://www.bootstrapmade.com/content/demo/UpConstruction/assets/img/alt-services.jpg" alt="" />
    </div>
    <div class="about-element-heading-content" data-aos="fade-up" data-aos-delay="100">
      <div class="element-title">
        Yousef Saleh Yousef
      </div>
      <div class="divider"></div>
      <div class="element-designation">
        Managing Director
      </div>
      <div class="element-sub-title">
        Managing Director of Yousef Saleh Yousef
        Yousef Al Dossary is a seasoned leader with extensive experience in the construction industry. He has played a pivotal role in driving the company’s growth, ensuring the delivery of high-quality projects and maintaining strong client relationships. His strategic vision and hands-on approach have been instrumental in achieving business success.
        <div class="story-points">
          <div>
            <i class="ti ti-circle-check icon-class"></i>
            <span class="points">
              Over a decade of leadership experience in the construction sector.
            </span>
          </div>
          <div>
            <i class="ti ti-circle-check icon-class"></i>
            <span class="points">
              Proven track record of managing successful, high-quality projects.
            </span>
          </div>
          <div>
            <i class="ti ti-circle-check icon-class"></i>
            <span class="points">
              Strong focus on client satisfaction and long-term partnerships.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-element-title">
    <div class="about-element-heading-content">
      <div class="element-title">
        Shamsuddin Khan
      </div>
      <div class="divider"></div>
      <div class="element-designation">General Manager</div>
      <div class="element-sub-title">
        Shamsuddin Khan, the General Manager of Yousef Saleh Yousef Cont. & Est., plays a pivotal role in overseeing the company's operations and ensuring the successful execution of its projects. With extensive experience in the construction industry, he brings strong leadership and operational excellence to the team. Shamsuddin is dedicated to maintaining high standards of quality, safety, and efficiency in every project, ensuring that the company consistently meets client expectations. His hands-on approach and industry knowledge have been instrumental in the continued growth and success of the firm.
        <div class="story-points">
          <div>
            <i class="ti ti-circle-check icon-class"></i>
            <span class="points">
              Over 15 years of experience in the construction sector.
            </span>
          </div>
          <div>
            <i class="ti ti-circle-check icon-class"></i>
            <span class="points">
              Expertise in project management and operational efficiency.
            </span>
          </div>
          <div>
            <i class="ti ti-circle-check icon-class"></i>
            <span class="points">
              Strong leadership with a focus on quality and timely delivery.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="element-logo">
      <img
        src="https://www.bootstrapmade.com/content/demo/UpConstruction/assets/img/alt-services.jpg"
        alt=""
      />
    </div>
  </div>
  <div style="margin-top: 30px">
    <app-heading-content title="Team"
                         subTitle="Meet the Experts Behind Our Success, Dedicated to Delivering Excellence in Every Project.">
    </app-heading-content>
  </div>
  <div class="grid-container" data-aos="fade-up" data-aos-delay="100">
    @for (team of teamContent; track team) {
    <div class="team-card">
      <div class="grid-item">
        <img [src]="team?.image" />
      </div>
      <div class="title-name">{{team?.name}}</div>
      <div class="sub-title-name">{{team?.designation}}</div>
    </div>
    }
  </div>
</div>
