<app-banner-content
  title="Contact"
  bannerHeight="400px"
  breadcrumbText="Home / Contact"
></app-banner-content>
<div class="contact-us-container">
  <div class="contact-form-contaner">
    <div class="address">
      <div class="icon">
        <i class="ti ti-map-pin"></i>
      </div>
      <div class="address-title">Address</div>
      <div class="address-sub-title">A108 Adam Street, New York, NY 535022</div>
    </div>
    <div class="address-two">
      <div class="call-us-container">
        <div class="icon">
          <i class="ti ti-phone"></i>
        </div>
        <div class="address-title">Call Us</div>
        <div class="address-sub-title">+1 2323232323</div>
      </div>
      <div class="call-us-container">
        <div class="icon">
          <i class="ti ti-mail"></i>
        </div>
        <div class="address-title">Call Us</div>
        <div class="address-sub-title">+1 2323232323</div>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="map-container">
      <img
        src="https://imgs.search.brave.com/vSATNADyi7zleEHRlBBuK7aj4AvX-Ql8WvZnJiSghgk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/Z3Jvb3Z5cG9zdC5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MjAvMDcvR29vZ2xl/LVBob3Rvcy1tYXAt/c2VhcmNoLW1hcC12/aWV3LnBuZw"
      />
    </div>
    <div class="input-form-container">
      <form>
        <div class="input-container">
          <input type="text" placeholder="Your Name" />
          <input type="email" placeholder="Your Email" />
        </div>
        <input type="text" placeholder="Subject" />
        <textarea placeholder="Message"></textarea>
        <div class="send-message-cta">Send Message</div>
      </form>
    </div>
  </div>
</div>
