.contact-us-container {
  margin: 40px auto;
}
.icon {
  width: max-content;
  margin: auto;
  font-size: 20px;
  color: orange;
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 2px dotted color-mix(in srgb, orange, transparent 40%);
}
.contact-form-contaner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.address {
  width: 50%;
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.3);
}
.address-two {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 50%;
  background-color: white;
  text-align: center;
}
.address-title{
  margin-top: 6px;
  font-size: 18px;
  font-weight: 700;
  color: #52565e;
}
.address-sub-title {
  margin-top: 8px;
}
.call-us-container {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: block;
  place-content: center;
}
@media (min-width: 1024px) and (max-width: 1540px) {
  .contact-us-container {
    width: 85%;
  }
}

@media (min-width: 1541px) {
  .contact-us-container {
    max-width: 70%;
  }
}
@media(max-width:768px){
  .contact-form-contaner {
    display: block;
    padding: 20px;
  }
  .address{
    width: 100%;
  }
  .address-two{
    width: 100%;
    margin-top: 12px;
    display: block;
  }
  .call-us-container{
    margin-top: 12px;
    padding: 12px;
  }
}