<app-banner-content
  title="Contact"
  bannerHeight="400px"
  breadcrumbText="Home / Contact"
></app-banner-content>
<div class="contact-us-container">
  <div class="contact-form-contaner">
    <div class="address">
      <div class="icon">
        <i class="ti ti-map-pin"></i>
      </div>
      <div class="address-title">Address</div>
      <div class="address-sub-title">A108 Adam Street, New York, NY 535022</div>
    </div>
    <div class="address-two">
      <div class="call-us-container">
        <div class="icon">
          <i class="ti ti-phone"></i>
        </div>
        <div class="address-title">Call Us</div>
        <div class="address-sub-title">+1 2323232323</div>
      </div>
      <div class="call-us-container">
        <div class="icon">
          <i class="ti ti-mail"></i>
        </div>
        <div class="address-title">Call Us</div>
        <div class="address-sub-title">+1 2323232323</div>
      </div>
    </div>
  </div>
</div>
