<app-banner-content title="Our Projects"
                    bannerHeight="400px"
                    [breadcrumbTexts]="breadcrumbTexts">
</app-banner-content>
<div class="our-projects-container">
  <div class="tabs-container">
    @for(tab of tabs; track tab?.id; let i = $index){
    <div class="all"
         [ngClass]="{ 'active-tab': i === activeTabIndex }"
         (click)="selectedTab(i,tab)">
      {{ tab?.name }}
    </div>
    }
  </div>
  <div class="project-container">
    @for(project of projects; track project?.id){
    <div class="project-card">
      <img [src]="project?.image" alt="Project Image" />
      <div class="overlay">
        <div class="overlay-content">
          <div class="icon" (click)="navigateToProjectDetails(project)"><i class="ti ti-arrow-right"></i></div>
          <div class="description-container">
            <div class="title">{{project?.projectType}}</div>
            <div class="sub-title">{{project?.name}}</div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
