.construction-container{
    width: 80%;
    margin: 60px auto;
}
.construction-heading-container{
    display: flex;
    gap: 20px;
    align-items: center;
    width: max-content;
    margin: auto;
}
.divider-container{
    height: 2.5px;
    background-color: #feb900;
    margin: 10px 0;
    width: 50px;
}
.title-container{
    font-size: 32px;
    font-weight: 700;
    color: #52565e;
}
.construction-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.construction-sub-title{
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
}
.card{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid
    color-mix(in srgb, #364d59, transparent 85%);
    margin-top: 40px;
}
.card-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
.card-sub-title{
    color: #364d59;
    font-size: 16px;
}
.project-image img{
    height: 300px;
    width: 300px;
}
@media(max-width:600px){
    .construction-container{
        width: 100%;
        padding: 10px;
    }
    .title-container{
        font-size: 22px;
    }
    .construction-card-container{
        grid-template-columns: 1fr;
    }
    .card{
        display: block;
        overflow: hidden;
        border-radius: 10px;
        margin-top: 10px;
    }
    .card-title-container{
        margin: 10px;
    }
}